# next.js build output
.next
out

# dotenv environment variables file (build for Zeit Now)
.env
.env.build

# Dependency directories
node_modules/

# Logs
npm-debug.log*

# fastly
# refs: https://github.com/fastly/cli/blob/main/.gitignore
**/fastly.toml
# compute-js/src/statics.jsもデプロイ都度生成されるためignoreして良さそう
# (このリポジトリでは差分が見れるようにignoreしない)
